<head>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@pastak" />
  <meta name="twitter:title" content="pastak生誕祭2017" />
  <meta name="twitter:description" content="pastak生誕祭2017!!!!!!!!!!!!!!!!!!!!!!!" />
  <meta name="twitter:image" content="https://xn--9myu5gp8s.pastak.net/img/main.jpg" />
  <meta name="og:url" content="https://xn--9myu5gp8s.pastak.net/" />
  <meta name="og:title" content="pastak生誕祭2017" />
  <meta name="og:description" content="pastak生誕祭2017!!!!!!!!!!!!!!!!!!!!!!!" />
  <meta name="og:image" content="https://xn--9myu5gp8s.pastak.net/img/main.jpg" />
  <title>pastak生誕祭2017</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js'></script>
  <script src='js/glitch-canvas-browser.min.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Saira:500" rel="stylesheet">
  <link rel='stylesheet' href='./css/main.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
</head>
<body>
  <main id='main'>
    <div id='mainVisualWrapper'>
      <marquee id='leftTime' scrolldelay='30' scrollamount='20' behavior='alternate'></marquee>
      <img id='mainVisual' src='img/main.jpg' />
    </div>
    <h1>pastak生誕祭2017</h1>

    Date: 2017/09/17(Sun) 15:00〜21:00(<a href='https://goo.gl/zhbD2J' target='_blank'><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></a>) @ <a href='https://dj-bar-space.jimdo.com/' target='_blank'>WHITE SPACE LAB</a>, Shibuya, Tokyo<br />
    Fee: 1500JPY (includes 1 drink)
    <br /><br />
    <a class="twitter-share-button"
      href="https://twitter.com/share"
      data-size="large"
      data-text="pastak生誕祭2017 09.17(Sun) 15:00-21:00 at WHITE SPACE LAB, Shibuya, Tokyo"
      data-url="https://生誕祭.pastak.net/"
      data-hashtags="pastak生誕祭">
    Tweet
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br />
    <a href='https://pastak-anniv-slack-invite.herokuapp.com/' target='_blank'>Join our Slack!!!!!!!!!!!!!!!!!!!!</a>
    <br />
    <h2>Performers</h2>
      <div id='performers'>
        <div class='performer' v-for='performer in performers'>
          <img v-bind:src='performer.icon' class='icon'/>
          <div class='name'>[{{ performer.role }}]{{ performer.name }}</div>
          <div class='genre'>Genre: {{ performer.genre }}</div>

          <div class='websites'>
            <a v-if='performer.twitter' v-bind:href='performer.twitterUrl' target='_blank'>
              <i class="fa fa-twitter" aria-hidden="true"></i>{{ performer.twitter }}
            </a>
            <a v-if='performer.soundcloud' v-bind:href='performer.soundcloudUrl' target='_blank'>
              <i class="fa fa-soundcloud" aria-hidden="true"></i>{{ performer.soundcloud }}
            </a>
            <a v-if='performer.website' v-bind:href='performer.website' target='_blank'>
              <i class="fa fa-globe" aria-hidden="true"></i>website
            </a>
          </div>
          <div class='introduce'>{{ performer.introduce }}</div>
        </div>
      </div>
      <div style='font-size: 1.2em; text-align: center;'>
        ... and more!
      </div>
    <br />
    <h2>Timetable</h2>
    <table>
      <thead>
        <tr>
          <th>time</th>
          <th>DJ</th>
          <th>VJ</th>
          <th>Events</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>15:00-15:30</td>
          <td>masawada</td>
          <td>stefafafan</td>
          <td></td>
        </tr>
        <tr>
          <td>15:30-16:10</td>
          <td>mactkg</td>
          <td>stefafafan</td>
          <td></td>
        </tr>
        <tr>
          <td>16:10-16:50</td>
          <td>asonas</td>
          <td>amagitakayosi</td>
          <td><a href='#FashionBattle'>Fashion Battle</a></td>
        </tr>
        <tr>
          <td>16:50-17:30</td>
          <td>moznion</td>
          <td>amagitakayosi</td>
          <td></td>
        </tr>
        <tr>
          <td>17:30-18:10</td>
          <td>HolyGrail (wav)</td>
          <td>-------------</td>
          <td>Cake</td>
        </tr>
        <tr>
          <td>18:10-18:50</td>
          <td>stefafafan</td>
          <td>amagitakayosi</td>
          <td></td>
        </tr>
        <tr>
          <td>18:50-19:30</td>
          <td>polamjag</td>
          <td>amagitakayosi</td>
          <td></td>
        </tr>
        <tr>
          <td>19:30-20:10</td>
          <td>gakufa</td>
          <td>stefafafan</td>
          <td></td>
        </tr>
        <tr>
          <td>20:10-20:50</td>
          <td>pastak</td>
          <td>stefafafan</td>
          <td></td>
        </tr>
        <tr>
          <td>20:50-21:00</td>
          <td>closing</td>
          <td></td>
          <td>Fashion Battle Result</td>
        </tr>
      </tbody>
    </table>
    <h2 id='FashionBattle'>Fashion Battle</h2>
    pastakとmasawadaによるファッション対決!!!!!! 勝敗は会場に来た皆さんの投票で決まります!!!!!!<br />
    会場でドリンクまたはハンバーガーを購入する毎に投票券が手に入ります。じゃんじゃん課金してじゃんじゃん投票してください!!!!!!!!!!!
    <br />
    <h2>Flyer</h2>
    <img src='img/flyer.png' style='max-width: 95%;'/>
    <br />
    <a href='https://drive.google.com/drive/folders/0B0gyk8s3TOQCTGtBMERfYkQzaXc' target='_blank'>Download from here</a><br />
    <a href='https://twitter.com/kanapon_i/status/907515776361390080' target='_blank'>Created by @kanapon_i</a>
    <hr />
    Repository is here: <a href='https://github.com/pastak-anniv/pastak-anniv.github.io' target='_blank'>https://github.com/pastak-anniv/pastak-anniv.github.io</a>
  </main>
  <script src='js/main.js'></script>
</body>
